.add-article {
  list-style: none;
}

.add-article__title {
  font-family: @font-family--oswald;
  font-weight: normal;
  text-transform: uppercase;
  color: @color-font--black;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
}

.add-article__item {
  font-family: @font-family--arial;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  color: @color-font--arial;
}
