.add-goods__title {
  font-family: @font-family--oswald;
  font-size: 24px;
  text-align: left;
  line-height: 24px;
  font-weight: normal;
}

.add-goods {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .add-goods {
    width: 710px;
  }
}

@media (min-width: @desktop-width) {
  .add-goods {
    margin: 0;
  }
}
