.button {
  display: inline-block;
  vertical-align: top;
  width: 280px;
  height: 30px;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: @color-back--main;
  background-color: @color-button;
  padding-top: 10px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .button {
    width: 245px;
    height: 52px;
    font-size: 20px;
    line-height: 20px;
  }
}
