.button {
  display: inline-block;
  vertical-align: top;
  width: 280px;
  height: 30px;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: @color-back--main;
  background-color: @color-button;
  padding-top: 10px;
  margin: 0;
  transition: all 0.5s ease;

  &:hover {
    background-color: @color-button--hvr;
  }

  &:active {
    color: @color-back--opacity;
  }
}

@media (min-width: @tablet-width) {
  .button {
    width: 245px;
    line-height: 20px;
    margin: auto;
  }
}
