.cat-info {
  display: flex;
  flex-direction: column;
  border: none;
  width: 280px;
  margin: auto;
  margin-top: 12px;
}

.cat-info__head {
  margin-top: 12px;
  padding-left: 8px;
}

@media (min-width: @tablet-width) {
  .cat-info {
    margin-left: 0;
    padding-left: 0;
  }

  .cat-info__head {
    margin-top: 45px;
    font-size: 36px;
    line-height: 36px;
    width: 768px;
    margin-left: 0;
    padding-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .cat-info__head {
    margin-top: 49px;
    width: 1440px;
  }
}
