.catalog {
  display: flex;
  flex-direction: column;
}

.catalog__item {
  font-family: @font-family--oswald;
  list-style-type: none;
  text-decoration: none;
}

.catalog__item a {
  text-decoration: none;
}

.catalog__head {
  font-family: @font-family--oswald;
  font-weight: normal;
  color: @color-font--main;
  font-size: 16px;
  line-height: 60px;
  text-align: left;
}

.catalog__item-img {
  width: 140px;
  height: 144px;
}

@media (min-width: @tablet-width) {
  .catalog {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog__item {
    background-color: @color-back--text;
  }
}
