.example {
  background-color: @color-back--text;
}

.example__wrapper {
  display: flex;
  flex-direction: column;
}

.example__title {
  font-family: @font-family--oswald;
  font-size: 36px;
  text-align: left;
  line-height: 60px;
  font-weight: normal;
}

.example__text {
  font-family: @font-family--arial;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: @color-font--arial;
}

.example__bold {
  font-family: @font-family--oswald;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.example__small {
  font-family: @font-family--arial;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: @color-font--arial;
  width: 57px;
}

.example__cost {
  font-family: @font-family--oswald;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 17px;
}

.example__cat {
  font-family: @font-family--oswald;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.example__cat--is {
  text-align: right;
}

.example__cat--was {
  text-align: left;
}

.example__features {
  margin-top: 32px;
  display: flex;
  justify-content: space-around;
}

.example__description {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80px;
  height: 60px;
}

.example__description::before {
  content: "";
  position: absolute;
  width: 124px;
  height: 60px;
  border-top: 2px solid @color-back--catalog;
  border-left: 2px solid @color-back--catalog;
  border-right: 2px solid @color-back--catalog;
  border-radius: 5%;
  bottom: 10px;
}

.example__small::before,
.example__small::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: @color-back--catalog;
}

.example__small::after {
  right: -20px;
}

.example__small::before {
  left: -19px;
  bottom: 10px;
}

@media (min-width: @tablet-width) {
  .example {
    background-image: linear-gradient(to bottom, @color-back--main, @color-back--main 60%, @color-back--text 40%, @color-back--text);
  }
}

@media (min-width: @desktop-width) {
  .example {
    background-image: linear-gradient(to bottom, @color-back--main, @color-back--main 50%, @color-back--text 50%, @color-back--text);
  }

  .example__wrapper {
    flex-direction: row;
  }
}
