.example {
  background-color: @color-back--text;
  margin-top: 22px;
}

.example__wrapper {
  display: flex;
  flex-direction: column;
}

.example__title {
  font-family: @font-family--oswald;
  font-size: 36px;
  text-align: left;
  line-height: 60px;
  font-weight: normal;
  margin-bottom: 23px;
  margin-top: 25px;
}

.example__text {
  font-family: @font-family--arial;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: @color-font--arial;
}

.example__bold {
  text-transform: uppercase;
  font-family: @font-family--oswald;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.example__small {
  font-family: @font-family--arial;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: @color-font--arial;
  width: 57px;
}

.example__cost {
  font-family: @font-family--oswald;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 29px;
}

.example__cat {
  font-family: @font-family--oswald;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-bottom: 1px dotted @color-cat;
  transition: all 0.5s ease;
  padding: 0;

  &:hover {
    border-bottom: 1px solid @color-cat--hvr;
  }

  &:active {
    border: none;
  }
}

.example__cat--is {
  width: 42px;
  text-align: right;
}

.example__cat--was {
  width: 38px;
  text-align: left;
}

.example__features {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}

.example__description {
  position: relative;
  width: 124px;
  height: 56px;
  border: 1px solid @color-back--catalog;
  border-radius: 10%;
}

.example__description-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90px;
  height: 60px;
  background-color: @color-back--main;
  left: 16px;
  top: 10px;
}

.example__indicator {
  width: 196px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
  margin-left: 42px;
}

.example__indicator::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 6px;
  border: 4px solid @color-back--text;
  border-radius: 16%;
  box-shadow: 0 0 0 2px @color-back--catalog;
  background-image: linear-gradient(to left, @color-back--main, @color-back--main 50%, @color-button 50%, @color-button);
  left: 60px;
  top: 5px;
}

/*
.example__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/
/*
.example__indicator::after {
  background-image: linear-gradient(to right, @color-back--main, @color-back--main 50%, @color-button 50%, @color-button);
}
*/
.example__img {
  margin-top: 25px;
  position: relative;
  right: 18px;
}

.example__point {
  display: none;
}

@media (min-width: @tablet-width) {
  .example {
    background-image: linear-gradient(to bottom, @color-back--main, @color-back--main 70%, @color-back--text 30%, @color-back--text);
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    margin-top: 55px;
    padding-left: 5px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 64px;
    padding-left: 5px;
    width: 700px;
  }

  .example__bold {
    font-size: 30px;
    line-height: 37px;
    margin-top: 8px;
  }

  .example__small {
    font-size: 14px;
    line-height: 14px;
    width: 170px;
    margin-top: 10px;
  }

  .example__cat {
    font-size: 20px;
    line-height: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .example__description {
    width: 162px;
    height: 72px;
    margin-right: 40px;
    left: 4px;
  }

  .example__description-wrapper {
    width: 130px;
    height: 70px;
  }

  .example__features {
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 0;
  }

  .example__indicator {
    justify-content: space-between;
    width: 570px;
    margin-left: 73px;
    margin-top: 100px;
  }

  .example__indicator::after {
    content: "";
    position: absolute;
    width: 428px;
    height: 6px;
    border: 1px solid @color-back--catalog;
    border-radius: 15%;
    box-shadow: none;
    background-image: none;
    background-color: @color-back--catalog;
    left: 65px;
    top: 10px;
  }

  .example__point {
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 12px @color-border,
      0 5px 2px rgba(0, 0, 0, 0.15);
    border: 1px solid @color-back--catalog;
    cursor: pointer;
    z-index: 3;
    background-color: @color-button;
    right: 270px;
    transition: all 0.5s ease;

    &:hover {
      box-shadow: inset 0 0 0 12px @color-border,
        0 5px 2px rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 1px solid  @color-button;
    }
  }

  .example__img {
    margin-top: 0;
    width: auto;
    height: auto;
    top: 85px;
    left: 18px;
  }

  .example__cat--is {
    width: 52px;
  }

  .example__cat--was {
    width: 48px;
  }

  .example__live {
    position: relative;
  }

  .example__cost {
    font-size: 20px;
    line-height: 30px;
    width: 195px;
    position: absolute;
    text-align: right;
    right: 8px;
    top: 281px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    background-image: linear-gradient(to bottom, @color-back--main, @color-back--main 50%, @color-back--text 50%, @color-back--text);
    margin-bottom: 50px;
  }

  .example__wrapper {
    flex-direction: row;
  }

  .example__text {
    width: 435px;
    margin-top: 145px;
    padding-left: 0;
  }

  .example__features {
    margin-top: 73px;
  }

  .example__cost {
    width: 390px;
    position: static;
    margin-top: 50px;
    text-align: left;
  }

  .example__indicator {
    margin-left: 215px;
    margin-top: 10px;
  }

  .example__title {
    margin-top: 31px;
    padding-left: 0;
  }

  .example__cost-span {
    margin-left: 62px;
  }

  .example__img {
    top: -30px;
    left: 135px;
  }

  .example__bold {
    margin-top: 0;
  }
}
