.footer__info {
  background-color: @color-back--text;
  padding: 0;
}

.footer__image {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__go {
  margin: auto;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

@media (min-width: @tablet-width) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__image {
    margin: 0;
    margin-top: 62px;
    margin-bottom: 64px;
  }
}
