.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  margin: auto;
}

.header__logo {
  margin: auto;
}

.header__wrapper {
  display: flex;
}

@media (min-width: @tablet-width) {
  .header__container {
    flex-direction: row;
  }

  .header__logo {
    margin-left: 0;
  }

  .header__menu {
    flex-grow: 1;
  }
}

@media (min-width: @desktop-width) {
  .header__container {
    position: relative;
    background: none;
    z-index: 2;
  }

  .header__menu {
    flex-grow: 0;
  }
}
