.html-academy {
  display: flex;
  justify-content: space-between;
  font-family: @font-family--arial;
  color: @color-font--arial;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  padding: 0;
  text-decoration: none;
  margin-top: 15px;

  &:active {
    opacity: 0.3;
  }
}

.html-academy__p {
  margin: 0;
  padding: 0;
  padding-top: 14px;
}

.html-academy__icon {
  fill: @color-html;

  &:hover {
    fill: @color-button;
  }
}


@media (min-width: @tablet-width) {
  .html-academy {
    align-items: center;
    margin-top: 0;
  }

  .html-academy__p {
    padding-top: 0;
    margin-right: 20px;
  }
}
