.html-academy {
  font-family: @font-family--arial;
  color: @color-font--arial;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  margin: auto;
  margin-top: 31px;
  margin-bottom: 31px;
  padding: 0;
}

.html-academy__p {
  margin: 0;
  padding: 0;
}
