.introduce {
  margin-top: 0;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;
  background-size: 100%;
  padding-top: 23px;

  @media (min-resolution: @retina-dppx), (min-resolution: @retina-dpi) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.introduce__head {
  font-family: @font-family--oswald;
  font-weight: normal;
  line-height: 36px;
  font-size: 36px;
  color: @color-back--main;
  text-align: center;
  margin: 0;
  padding-top: 3px;
}

.introduce__container {
  max-width: 280px;
  margin: 0 auto;
}

.introduce__info {
  font-family: @font-family--oswald;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
  color: @color-back--main;
  text-align: center;
  padding-top: 12px;
}

.introduce__img {
  margin: auto;
  margin-top: 12px;
}

@media (min-width: @tablet-width) {
  .introduce__container {
    max-width: 650px;
    position: relative;
  }

  .introduce__head {
    width: 450px;
    font-family: @font-family--oswald;
    font-weight: normal;
    line-height: 60px;
    font-size: 60px;
    color: @color-font--main;
    text-align: left;
    padding-top: 7px;
    padding-left: 55px;
  }

  .introduce {
    background: none;
    padding-top: 35px;
  }

  .introduce__info {
    font-weight: normal;
    line-height: 20px;
    font-size: 20px;
    color: @color-font--main;
    text-align: left;
    margin-top: 31px;
    padding-top: 10px;
    padding-left: 55px;
  }

  .introduce__button {
    margin-top: 27px;
    padding-top: 16px;
    padding-bottom: 7px;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    left: 55px;
    top: 210px;
  }

  .introduce__img {
    position: relative;
    right: 30px;
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .introduce__info {
    margin-top: 15px;
    padding-top: 8px;
    padding-left: 5px;
  }

  .introduce__button {
    position: static;
    padding-top: 15px;
    margin-left: 0;
    margin-top: 35px;
    margin-bottom: 256px;
  }

  .introduce {
    width: 50%;
  }

  .introduce__container {
    display: flex;
    flex-direction: column;
    width: 415px;
    margin: 0 auto;
  }

  .introduce__img {
    position: absolute;
    z-index: 6;
    order: 4;
    left: 375px;
    top: -23px;
  }

  .introduce__head {
    margin-top: 51px;
    margin-bottom: 20px;
    padding-left: 5px;
  }
}
