.main {
  margin-top: 0;
}

.main__head {
  font-family: @font-family--oswald;
  font-weight: normal;
  font-size: 36px;
  text-align: left;
  line-height: 60px;
}

.main__back-color {
  margin-top: 0;
  background-image: linear-gradient(to bottom, @color-button, @color-button 60%, @color-back--main 40%, @color-back--main);
}

.main__head--catalog {
  margin-top: 18px;
  margin-bottom: 16px;
}

.main__head--form {
  margin-top: 17px;
}

@media (min-width: @tablet-width) {
  .main__back-color {
    position: relative;
    background-image: none;
  }

  .main__head {
    font-size: 60px;
    line-height: 60px;
  }

  .main__head--catalog {
    margin-top: 42px;
    padding-left: 5px;
  }

  .main__head--form {
    margin-top: 42px;
  }
}

@media (min-width: @desktop-width) {
  .main__back-color::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 90px;
    width: 50%;
    height: 700px;
    background: url("../img/index-background-desktop@1x.jpg");
    background-color: @color-button;
    background-repeat: no-repeat;
    z-index: 0;

    @media (min-resolution: @retina-dppx), (min-resolution: @retina-dpi) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 720px auto;
    }
  }

  .main__head--catalog {
    margin-top: 62px;
  }

  .main__head--form {
    margin-top: 60px;
    padding-left: 0;
  }
}
