.more-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-info::before {
  content: "";
  width: 31px;
  height: 31px;
  position: relative;
  background-image: url("../img/icon-plus-mobile.svg");
  margin-top: 27px;
}

.more-info__part {
  font-family: @font-family--arial;
  font-size: 12px;
  text-align: left;
  line-height: 16px;
  color: @color-font--arial;
  margin-bottom: 22px;
  margin-top: 8px;
}

.more-info__head {
  font-family: @font-family--oswald;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 24px;
}

.more-info__show {
  width: 280px;
  height: 30px;
  margin: auto;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: @color-font--arial;
  text-align: center;
  background-color: @color-back--text;
  padding-top: 10px;
}

.more-info__show:hover {
  background-color: @color-button--show;
}

.more-info__show:active {
  color: @color-text--show;
}

@media (min-width: @tablet-width) {
  .more-info {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    background-color: @color-back--main;
    border: 1px solid @color-back--catalog-opacity;
  }

  .more-info__show {
    width: 280px;
    padding-top: 13px;
    padding-bottom: 0;
    background-color: @color-back--text;
    font-size: 16px;
    line-height: 20px;
    margin-top: 80px;
  }

  .more-info__head {
    margin: 0 auto;
    margin-top: 50px;
    width: 135px;
    font-size: 20px;
    line-height: 20px;
  }

  .more-info__part {
    width: 170px;
    margin: auto;
    margin-top: 28px;
    text-align: center;
    font-size: 16px;
    line-height: normal;
    margin-bottom: 0;
  }

  .more-info::before {
    background-image: url("../img/icon-plus.svg");
    width: 61px;
    height: 61px;
    margin-top: 145px;
  }
}

@media (min-width: @desktop-width) {
  .more-info__show {
    width: 169px;
  }
}
