.owner-data {
  border: none;
  padding: 0;
  width: 280px;
  margin: 0 auto;
}

.owner-data__wrapper {
  display: flex;
  flex-direction: column;
}

.owner-data__mail {
  margin-top: 25px;
  margin-bottom: 0;
}

.owner-data__phone {
  margin-top: 15px;
  margin-bottom: 0;
}

.owner-data__mail,
.owner-data__phone {
  display: flex;
  align-items: baseline;
  max-width: 300px;
  position: relative;
}

.owner-data__name {
  text-transform: uppercase;
  height: 40px;
  margin-left: 12px;
  padding-left: 12px;
  flex-grow: 1;
  width: auto;
}

.owner-data__info {
  height: auto;
  width: auto;
}

.owner-data__icon {
  position: absolute;
  right: 15px;
  top: 16px;

  &:hover {
    fill: @color-font--black;
  }

  &:active {
    fill: @color-button;
  }
}

.owner-data__name:invalid + .owner-data__icon {
  fill: @color-form--error;
}

.owner-data__name:active + .owner-data__icon {
  fill: @color-button;
}

.owner-data__name:hover + .owner-data__icon {
  fill: @color-font--black;
}

@media (min-width: @tablet-width) {
  .owner-data {
    width: 100%;
    padding: 0;
  }

  .owner-data__mail {
    margin-top: 21px;
    margin-bottom: 5px;
  }

  .owner-data__wrapper {
    width: 630px;
    margin: 0 auto;
    margin-top: 5px;
  }

  .owner-data__name {
    width: auto;
    font-size: 20px;
    line-height: 20px;
    padding-left: 0;
  }

  .owner-data__name--mail {
    padding-left: 17px;
  }

  .owner-data__name--phone {
    padding-left: 10px;
  }

  .owner-data__mail,
  .owner-data__phone {
    max-width: 630px;
    height: 52px;
    width: auto;
  }

  .owner-data__info {
    width: auto;
    margin-right: 10px;
  }
}

@media (min-width: @desktop-width) {
  .owner-data {
    margin: 0 auto;
    padding-left: 0;
    width: 1220px;
    margin-top: 30px;
    margin-bottom: 52px;
  }

  .owner-data__wrapper {
    flex-direction: row;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    width: 1220px;
  }

  .owner-data__name {
    width: auto;
    margin-left: 0;
    flex-grow: 1;
    padding-left: 12px;
  }

  .owner-data__phone {
    margin-top: 25px;
    margin-left: 88px;
  }

  .owner-data__mail,
  .owner-data__phone {
    margin-top: 28px;
    width: 560px;
  }

  .owner-data__info {
    width: auto;
    height: auto;
    margin-right: 25px;
  }

  .owner-data__mail {
    margin-bottom: 0;
  }
}
