.present {
  width: 280px;
  height: 289px;
  background-color: @color-button;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
  margin-top: 55px;
}

.present__text {
  font-family: @font-family--arial;
  font-size: 16px;
  line-height: 20px;
  color: @color-back--main;
  width: 159px;
  margin: auto;
}


@media (min-width: @tablet-width) {
  .present {
    width: 708px;
    height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    margin-top: 75px;
  }
}

@media (min-width: @desktop-width) {
  .present {
    width: 245px;
    height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    margin: 0;
    margin-left: 80px;
  }
}
