.present {
  width: 280px;
  height: 289px;
  background-color: @color-button;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  text-align: center;
}

.present__text {
  font-family: @font-family--arial;
  font-size: 16px;
  line-height: 20px;
  color: @color-back--main;
}
