.program-choice {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.program-choice__wrapper {
  max-width: 280px;
  margin: 0 auto;
}

.program-choice__get {
  padding-left: 20px;
  text-decoration: none;
  color: @color-font--main;
  line-height: 15px;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  margin-top: 21px;
  margin-bottom: 21px;
}

.program-choice__item {
  margin-top: 20px;
  list-style-type: none;
  background-color: @color-back--text;
}

.program-choice__item-head {
  font-family: @font-family--oswald;
  font-size: 24px;
  font-weight: normal;
  line-height: 37px;
  text-align: left;
}

.program-choice__info {
  width: 223px;
  padding-left: 21px;
  font-family: @font-family--arial;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: @color-font--arial;
  border-bottom: 1px solid @color-border;
}

.program-choice__icon {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: @color-button;
  margin: auto;
  margin-right: 20px;
  margin-left: 22px;
}

.program-choice__section {
  display: flex;
}

@media (min-width: @tablet-width) {
  .program-choice__wrapper {
    max-width: 710px;
    position: relative;
  }

  .program-choice__icon {
    position: absolute;
    top: 90px;
    width: 200px;
    height: 200px;
    right: 100px;
  }

  .program-choice__info {
    width: 340px;
    border: none;
    line-height: 24px;
    font-size: 16px;
    padding-left: 0;
  }

  .program-choice__item-head {
    margin-top: 81px;
    margin-bottom: 0;
    line-height: 37px;
    font-size: 36px;
  }

  .program-choice__get {
    line-height: 20px;
    font-size: 20px;
    padding-left: 0;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (min-width: @desktop-width) {
  .program-choice {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1220px;
    margin: 0 auto;
  }

  .program-choice__get {
    margin-left: 52px;
    margin-top: 36px;
  }

  .program-choice__info {
    width: 470px;
    height: 65px;
    margin: auto;
    margin-left: 52px;
  }

  .program-choice__item:first-child {
    margin-bottom: 0;
  }

  .program-choice__item {
    background-color: @color-back--text;
    width: 580px;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .program-choice__wrapper {
    margin: auto;
  }

  .program-choice__icon {
    position: relative;
    width: 100px;
    height: 100px;
    top: 1px;
    left: 14px;
  }

  .program-choice__item-head {
    margin-left: 063px;
    margin-bottom: 75px;
    margin-top: 51px;
  }
}
