.program {
  max-width: 280px;
  margin: 0 auto;
}


.program__intro {
  font-family: @font-family--oswald;
  text-align: left;
  color: @color-font--main;
  line-height: 18px;
  font-size: 14px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .program {
    max-width: 710px;
  }
}

@media (min-width: @desktop-width) {
  .program {
    max-width: 1220px;
  }
}
