.program-choice {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin: 0 auto;
  padding: 0;
}

.program-choice__get {
  text-decoration: none;
  color: @color-font--main;
  line-height: 15px;
  font-size: 16px;
  text-transform: uppercase;
}

.program-choice__item {
  list-style-type: none;
  background-color: @color-back--text;
}

.program-choice__item-head {
  font-family: @font-family--oswald;
  font-size: 24px;
  font-weight: normal;
  line-height: 37px;
  text-align: left;
}

.program-choice__info {
  font-family: @font-family--arial;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: @color-font--arial;
}

@media (min-width: @tablet-width) {
  .program-choice {
    max-width: 710px;
  }
}

@media (min-width: @desktop-width) {
  .program-choice {
    flex-direction: row;
    max-width: 1220px;
  }

  .program-choice__item {
    max-width: 570px;
  }
}
