.site-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.site-list__item {
  list-style-type: none;
  text-align: center;
}

.site-list__link {
  text-decoration: none;
  font-family: @font-family--oswald;
  font-weight: 500;
  color: @color-font--main;
  line-height: 20px;
  font-size: 20px;
}

@media (min-width: @tablet-width) {
  .site-list {
    flex-direction: row;
  }

  .site-list__link {
    font-weight: normal;
    color: @color-font--black;
    line-height: 25px;
    font-size: 18px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    flex-direction: row;
  }

  .site-list__link--index {
    font-weight: normal;
    color: @color-back--main;
    line-height: 25px;
    font-size: 20px;
    text-align: left;
  }
}
