.welcome {
  display: flex;
  margin: 0 auto;
  margin-top: 19px;
  padding-left: 20px;
  padding-right: 20px;
}

.welcome__partnership {
  font-family: @font-family--oswald;
  text-transform: uppercase;
  font-size: 16px;
  text-align: left;
  line-height: 20px;
  width: 210px;
  margin-bottom: 25px;
}

.welcome__address {
  width: 213px;
  font-family: @font-family--arial;
  font-size: 14px;
  text-align: left;
  line-height: 20px;
  margin-bottom: 25px;
}

.welcome__catalog {
  background-color: @color-back--text;
}

@media (min-width: @tablet-width) {
  .welcome {
    width: 768px;
    padding-top: 48px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    background-color: @color-back--text;
    justify-content: space-around;
  }

  .welcome__index {
    background-color: @color-back--main;
  }

  .welcome__partnership {
    width: 155px;
    font-size: 20px;
    text-align: left;
    line-height: 25px;
    margin-left: 0;
    margin-bottom: 45px;
  }

  .welcome__address {
    width: 155px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-left: 175px;
    margin-bottom: 45px;
  }

  .welcome__address-spb {
    margin-top: 20px;
  }
}

@media (min-width: @desktop-width) {
  .welcome {
    position: absolute;
    background-color: @color-back--main;
    width: 500px;
    height: 151px;
    z-index: 6;
    padding-top: 37px;
    margin-top: 103px;
    margin-left: 40px;
    padding-left: 75px;
    justify-content: stretch;
  }

  .welcome__address {
    text-align: left;
    margin-left: 97px;
    padding-right: 65px;
    padding-top: 3px;
  }
}
