.works__head {
  font-family: @font-family--oswald;
  font-size: 36px;
  text-align: left;
  line-height: 60px;
  font-weight: normal;
}

.works__item {
  list-style: none;

}

.works__info {
  font-family: @font-family--arial;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: @color-font--arial;

}
