.works__list {
  display: flex;
  flex-direction: column;
}

.works__head {
  font-family: @font-family--oswald;
  font-size: 36px;
  text-align: left;
  line-height: 60px;
  font-weight: normal;
}

.works__item {
  list-style: none;
}

.works__info {
  font-family: @font-family--arial;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: @color-font--arial;
}

@media (min-width: @tablet-width) {
  .works__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .works__item {
    max-width: 250px;
    margin: auto;
  }
}

@media (min-width: @desktop-width) {
  .works__info {
    width: 201px;
    height: 63px;
  }
}
